@model Me

<article id="home" class="panel intro">
    <header>
        <h1>@Model.Name</h1>
        <p>@Model.MainBio</p>
    </header>
    <a href="#work" class="jumplink pic">
        <span class="arrow icon solid fa-chevron-right"><span>نمونه کار های من را ببینید </span></span>
        <img src="images/me.jpg" alt="" />
    </a>
</article>
