@using Portfolio.ViewComponents
@{
    ViewData["Title"] = "Home Page";
}

<div id="main">

    <!-- Me -->
    @await Component.InvokeAsync("Me")
    @await Component.InvokeAsync("Work")
    <!-- Contact -->
    @await Component.InvokeAsync("Contact")

</div>