@model IEnumerable<Work>

<article id="work" class="panel">
    <header>
        <h2>Work</h2>
    </header>
    <p>
        Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        luctus elit eget interdum.
    </p>
    <section>
        @foreach (var pics in Model)
        {
            <div class="row">
                <div class="col-4 col-6-medium col-12-small">
                    <a href="#" class="image fit"><img src="images/@pics.Image" alt=""></a>
                </div>

            </div>
        }
    </section>
</article>
